## [1] 파이썬 소개

**코딩이란?**
- 코드(Code) : 인간이 컴퓨터와 소통하기 위해 사용하는 언어
- 코딩(Coding) : 컴퓨터를 이해시키기 위해 코드를 작성하는 행위
- 코딩으로 가능한 작업
  - (1) 데이터 수집/분석
  - (2) 업무 자동화
  - (3) 웹/앱 개발

**파이썬 코멘트**
- 코멘트(Comment) : 파이썬에서는 # 뒤에 오는 것을 코멘트(주석)라고 하는데, 코멘트는 실행했을 때 없는 줄 취급된다.
- 코멘트를 사용하는 목적
  - (1) 작업하다가 만 부분 표시
  - (2) 복잡한 코드 설명
  - (3) 다른 개발자들과 소통

In [ ]:
# 코멘트(주석)
print("Hello, World!")  # 이것도 코멘트

Hello, World!

## [2] 자료형

**자료형(Data Type)**
- 숫자(Number) : 수학적 계산이 가능한 모든 숫자형 데이터
  - 정수(Integer) : 소수점을 포함하지 않는 숫자형 예) 10, -5, 0
  - 실수(Floating Point) : 소수점을 포함하는 숫자형 예) 3.14, -0.001, 2.0
- 문자열(String) : 문자들의 나열로 텍스트 데이터 예) "Python!", "123"
- 불린(Boolean) : 참(True) 또는 거짓(False) 데이터 예) True, False
- 리스트(List) : 여러 값을 순서대로 저장할 수 있는 가변형(mutable) 컬렉션 예) [1, 2, 3], ["apple", "banana", "cherry"]
- 딕셔너리(Dictionary) : 키-값 쌍으로 데이터를 저장하는 컬렉션 예) {"name": "Alice", "age": 25}
- 튜플(Tuple) : 리스트와 비슷하지만 변경할 수 없는(immutable) 데이터 컬렉션 예) (1, 2, 3), ("apple", "banana", "cherry")

In [ ]:
# 숫자
a = 5
b = 3.14
print(a + b)

8.14

In [ ]:
# 정수
x = 10
y = -4
print(x * y)

-40

In [ ]:
# 실수
pi = 3.14159
radius = 2.5  # 반경
area = pi * radius ** 2  # 원의 면적
print(area)

19.6349375

In [ ]:
# 문자열
name = "Claire"
greeting = "Hello, " + name
print(greeting)

Hello, Claire

In [ ]:
print("2" + "5")

25

In [ ]:
# 불린(Boolean)
print(7 > 3)
print(3 > 7)

True
False

In [ ]:
# 리스트
fruits = ["apple", "banana", "cherry"]
print(fruits)
fruits.append("orange")
print(fruits)
print(fruits[1])

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
banana

In [ ]:
# 리스트(값 변경 시도)
fruits[1] = 'pineapple'
print(fruits)

['apple', 'pineapple', 'cherry', 'orange']

In [ ]:
# 딕셔너리
person = {"name" : "Claire", "age" : 20}
print(person)
print(person["name"])
print(person["age"])

{'name': 'Claire', 'age': 20}
Claire
20

In [ ]:
# 튜플
point = (3, 4)
print(point)

(3, 4)

In [ ]:
# 튜플(값 변경 시도)
point[0] = 1
print(point)

TypeError: 'tuple' object does not support item assignment

### (1) 숫자형

**숫자형**

- 숫자(Number) : 수학적 계산이 가능한 모든 숫자형 데이터
  - 정수(Integer) : 소수점을 포함하지 않는 숫자형
  - 실수(Floating Point) : 소수점을 포함하는 숫자형

1. 정수형과 정수형 간의 연산은 정수형
2. 실수형과 실수형 간의 연산은 실수형
3. 정수형과 실수형 간의 연산은 실수형
4. (예외) 나눗셈은 항상 실수형

- 정수형과 정수형 간의 연산은 정수형

In [ ]:
# 덧셈
print(4 + 7)

# 뺄셈
print(2 - 4)

# 곱셈
print(5 * 3)

# 몫
print(7 // 3)

# 나머지
print(7 % 3)

# 거듭제곱
print(2 ** 3)

11
-2
15
2
1
8

- 실수형과 실수형 간의 연산은 실수형

In [ ]:
# 덧셈
print(4.0 + 7.0)

# 뺄셈
print(2.0 - 4.0)

# 곱셈
print(5.0 * 3.0)

# 몫
print(7.0 // 3.0)

# 나머지
print(7.0 % 3.0)

# 거듭제곱
print(2.0 ** 3.0)

11.0
-2.0
15.0
2.0
1.0
8.0

- 정수형과 실수형 간의 연산은 실수형

In [ ]:
# 덧셈
print(4 + 7.0)

# 뺄셈
print(2.0 - 4)

# 곱셈
print(5.0 * 3)

# 몫
print(7 // 3.0)

# 나머지
print(7 % 3.0)

# 거듭제곱
print(2.0 ** 3)

11.0
-2.0
15.0
2.0
1.0
8.0

- (예외) 나눗셈은 항상 실수형

In [ ]:
print(7 / 2)
print(7.0 / 2)
print(6.0 / 2.0)

3.5
3.5
3.0

**숫자형 심화**

- 몫(버림 나눗셈; floor division)
  - `//` : 몫
  - `%` : 나머지

In [ ]:
print(7 // 2)
print(8.0 // 3)
print(8 // 3.0)
print(8.0 // 3.0)

3
2.0
2.0
2.0

In [ ]:
print(7 % 2)
print(8.0 % 3)
print(8 % 3.0)
print(8.0 % 3.0)

1
2.0
2.0
2.0

- 반올림(round)

In [ ]:
print(round(3.141593, 4))

3.1416

### (2) 문자열

**문자열**
- 문자열(String) : 문자들의 나열로 텍스트 데이터로 따옴표로 표기 예) `"apple"`, `'apple'`

In [ ]:
print("codeit")
print('codeit')

codeit
codeit

In [ ]:
# 숫자형
print(7 + 6)

13

In [ ]:
# 문자열
print("7" + "6")

76

**문자열 연결**

- 문자열 연결(String Concatenation)

In [ ]:
print("Hello" * 3)

HelloHelloHello

**SyntaxError : 문법 오류**

해결 방법)
1. 따옴표 통일
2. 백슬래시 사용

I'm excited to learn Python!

In [ ]:
print('I'm excited to learn Python!')

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-920859006.py, line 1)

- 따옴표 통일

In [ ]:
print("I'm excited to learn Python!")

I'm excited to learn Python!

- 백슬래시 사용

In [ ]:
print('I\'m excited to learn Python!')

I'm excited to learn Python!

I'm "excited" to learn Python!

In [ ]:
print("I\'m \"excited\" to learn Python!")

I'm "excited" to learn Python!

#### 실습) 문자열 실습 I

[링크](https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2750)

방법1. 따옴표 사용

In [ ]:
print("'응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마예요.")
print('데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다.')

'응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마예요.
데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다.

방법2. 백슬래시 사용

In [ ]:
print("\'응답하라 1988\'은 많은 시청자들에게 사랑을 받은 드라마예요.")
print("데카르트는 \"나는 생각한다. 고로 존재한다.\"라고 말했다.")

'응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마예요.
데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다.

방법3. 백슬래시와 엔터(\n) 사용

In [ ]:
print("\'응답하라 1988\'은 많은 시청자들에게 사랑을 받은 드라마예요.\n데카르트는 \"나는 생각한다. 고로 존재한다.\"라고 말했다.")

'응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마예요.
데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다.

#### 실습) 문자열 실습 II

[링크](https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2751)

In [ ]:
print("영화 \'신세계\'에서 \"드루와~\"라는 대사가 유행했다.")

영화 '신세계'에서 "드루와~"라는 대사가 유행했다.

#### 문자열 포매팅 방식

제 이름은 김코딩이고 32살입니다.

1. `f-string`

In [ ]:
name = "김코딩"
age = 32

print(f"제 이름은 {name}이고 {age}살입니다.")

제 이름은 김코딩이고 32살입니다.

2. `format()` 메소드

In [ ]:
name = "김코딩"
age = 32

print("제 이름은 {}이고 {}살입니다.".format(name, age))

제 이름은 김코딩이고 32살입니다.

**예시**

오늘은 2025년 9월 18일입니다.

(방법1. 문자열 연결)

In [ ]:
year = 2025
month = 9
day = 18

print("오늘은 " + year + "년 " + month + "월 " + day + "일입니다.")

TypeError: can only concatenate str (not "int") to str

In [ ]:
year = 2025
month = 9
day = 18

print("오늘은 " + str(year) + "년 " + str(month) + "월 " + str(day) + "일입니다.")

오늘은 2025년 9월 18일입니다.

(방법2. format() 메소드 사용)

In [ ]:
year = 2025
month = 9
day = 18

print("오늘은 {}년 {}월 {}일입니다.".format(year, month, day))

오늘은 2025년 9월 18일입니다.

In [ ]:
year = 2025
month = 9
day = 18
date_string = "오늘은 {}년 {}월 {}일입니다."

print(date_string.format(year, month, day))

오늘은 2025년 9월 18일입니다.

**예시**

저는 박지성, 유재석, 빌 게이츠를 좋아합니다!

In [ ]:
print("저는 {}, {}, {}를 좋아합니다!".format("박지성", "유재석", "빌 게이츠"))

저는 박지성, 유재석, 빌 게이츠를 좋아합니다!

In [ ]:
print("저는 {1}, {0}, {2}를 좋아합니다!".format("박지성", "유재석", "빌 게이츠"))

저는 유재석, 박지성, 빌 게이츠를 좋아합니다!

**예시**

1 나누기 3은 0.3333입니다.

In [ ]:
num_1 = 1
num_2 = 3

print("{} 나누기 {}은 {}입니다.".format(num_1, num_2, num_1 / num_2))

1 나누기 3은 0.3333333333333333입니다.

In [ ]:
num_1 = 1
num_2 = 3

print("{} 나누기 {}은 {:.4f}입니다.".format(num_1, num_2, num_1 / num_2))

1 나누기 3은 0.3333입니다.

#### 실습) 문자열 포매팅 실습

[링크](https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2757)

(f-string 사용)

In [ ]:
wage = 5  # 시급 (1시간에 5달러)
exchange_rate = 1142.16  # 환율 (1달러에 1142.16원)

# f-string 사용
print(f"{1}시간에 {wage * 1}달러 벌었습니다.")
print(f"{5}시간에 {wage * 5}달러 벌었습니다.")
print(f"{1}시간에 {wage * 1 * exchange_rate:.1f}원 벌었습니다.")
print(f"{5}시간에 {wage * 5 * exchange_rate:.1f}원 벌었습니다.")

1시간에 5달러 벌었습니다.
5시간에 25달러 벌었습니다.
1시간에 5710.8원 벌었습니다.
5시간에 28554.0원 벌었습니다.

(format 메소드 사용)

In [ ]:
wage = 5  # 시급 (1시간에 5달러)
exchange_rate = 1142.16  # 환율 (1달러에 1142.16원)

# format 메소드 사용
print("{}시간에 {}{} 벌었습니다.".format(1, wage * 1, "달러"))
print("{}시간에 {}{} 벌었습니다.".format(5, wage * 5, "달러"))
print("{}시간에 {:.1f}{} 벌었습니다.".format(1, wage * 1 * exchange_rate, "원"))
print("{}시간에 {:.1f}{} 벌었습니다.".format(5, wage * 5 * exchange_rate, "원"))

1시간에 5달러 벌었습니다.
5시간에 25달러 벌었습니다.
1시간에 5710.8원 벌었습니다.
5시간에 28554.0원 벌었습니다.

### (3) 불린형

- 불 대수 : 일상적인 논리를 수학적으로 표현한 것으로 어떤 명제(참과 거짓이 확실한 문장)가 참(True)인지 거짓(False)인지 나타내는 값
- 불 대수 연산 : `AND`, `OR`, `NOT`

In [ ]:
# 불린형
print(True)
print(False)

True
False

In [ ]:
type(True)

bool

In [ ]:
# 문자형
print("True")
print("False")

True
False

In [ ]:
type("True")

str

In [ ]:
# 불린형 연산 : AND
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# 불린형 연산 : OR
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
# 불린형 연산 : NOT
print(not True)
print(not False)

False
True

(문제)

In [ ]:
print(2 > 1)
print(2 < 1)
print(3 >= 2)
print(3 <= 3)
print(2 == 1)
print(2 != 2)

True
False
True
True
False
False

In [ ]:
print("Hello" == "Hello")
print("Hello" != "Hello")

True
False

In [ ]:
print(2 > 1 and "Hello" == "Hello")

True

In [ ]:
print(not not True)
print(not not False)

True
False

In [ ]:
print(7 == 7 or (4 < 3 and 12 > 10))

True

In [ ]:
x = 3
print(x > 4 or not (x < 2 or x == 3))

False

#### 실습) 자료형 퀴즈 II

[링크](https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2761)

In [ ]:
# Q1. 2번, 3번, 5번
print(int(2.5) + int(3.8) > int(str(1) + str(2)))
print((12 >= 10 and not 3 > 4) or 3 ** 2 != 9)
print(True and (True or False))
print(not True or (True and False))
print(False == False)

False
True
True
False
True

In [ ]:
# Q2.  1번, 2번, 5번
print(type(4 / 2))
print(type("True"))
print(type(10 <= 7))
print(type(2.0 ** 3))
print(type(2 * 3 == 6))

<class 'float'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'bool'>

### (4) type 함수

In [ ]:
print(type(3))
print(type(3.0))
print(type("3"))
print(type(True))
print(type("True"))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'str'>

In [ ]:
def hello():
    print("Hello, World!")

print(type(hello))
print(type(print))

<class 'function'>
<class 'builtin_function_or_method'>

### (5) type cast

#### 형 변환
- 형 변환(Type Conversion, Type Cast) : 한 자료형에서 다른 자료형으로 바꾸는 것
- 한 자료형에서 다른 자료형으로 바꾸는 형 변환을 하는 경우 논리적으로 타당한지 고려가 필요하다.

(예시)
- 숫자형 -> 숫자형 변환
  - `int()` : 정수형으로 변환
  - `float()` : 실수형으로 변환

In [ ]:
# 실수형 -> 정수형
print(int(3.8))

3

In [ ]:
# 정수형 -> 실수형
print(float(3))

3.0

(예시)
- 문자형 -> 숫자형 변환
  - `int()` : 정수형으로 변환
  - `float()` : 실수형으로 변환
  - `str()` : 문자형으로 변환

In [ ]:
print(int("2") + int("5"))

7

In [ ]:
print(float("1.1") + float("2.5"))

3.6

In [ ]:
print(str(2) + str(5))

25

In [ ]:
# 문자형 변환 전
age = 7

print("제 나이는 " + age + "살입니다.")

TypeError: can only concatenate str (not "int") to str

In [ ]:
# 문자형 변환 후
age = 7

print("제 나이는 " + str(age) + "살입니다.")

제 나이는 7살입니다.

In [ ]:
# 한 자료형에서 다른 자료형으로 바꾸는 형 변환을 하는 경우 논리적으로 타당한지 고려가 필요하다.
print(int("Hello, World!"))

ValueError: invalid literal for int() with base 10: 'Hello, World!'

#### 실습) 자료형 퀴즈 I

[링크](https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2753)

In [ ]:
# Q1. 3번
print(10 / (10 % 6))

2.5

In [ ]:
# Q2. 1번, 2번, 4번
print(2 ** 3.0)
print(int("3") + float("5"))
print(str(4.0) * 2)
print(float(int(42 / 5)))
print(2 * (3 + 1))

8.0
8.0
4.04.0
8.0
8

## [3] 추상화

- 추상화(Abstraction) : 복잡한 내용은 숨기고, 주요 기능에만 집중하는 것

In [ ]:
# 추상화 예
print("Hello, World!")

Hello, World!

**함수 실행 순서**

In [ ]:
def hello():
    print("Hello!")
    print("Welcome to Codeit!")

In [ ]:
print("함수 호출 전")
hello()
print("함수 호출 후")

함수 호출 전
Hello!
Welcome to Codeit!
함수 호출 후

In [ ]:
def square(x):
    return x * x

In [ ]:
print("함수 호출 전")
print(square(3) + square(4))
print("함수 호출 후")

함수 호출 전
25
함수 호출 후

### (1) return문

In [ ]:
def square(x):
    print("함수 시작")
    return x * x  # (1) 값을 반환할 뿐만 아니라 (2) 함수를 즉시 종료
    print("함수 끝")  # Dead Code(의미 없는 코드)

In [ ]:
print(square(3))
print("Hello, World!")

함수 시작
9
Hello, World!

In [ ]:
# return 예시
def get_square(x):
    return x * x

In [ ]:
print(get_square(3))

9

In [ ]:
# print 예시
def get_square(x):
    print(x * x)

In [ ]:
get_square(3)

9

In [ ]:
print(get_square(3))

9
None

In [ ]:
# print 예시(위 코드와 동일)
def get_square(x):
    print(x * x)
    return None  # 생략

In [ ]:
get_square(3)

9

In [ ]:
print(get_square(3))

9
None

#### 실습) 프로그래밍 기초 퀴즈

[링크](https://www.codeit.kr/topics/getting-started-with-python/lessons/2746)

In [ ]:
# Q1. 2번
a = 5
b = 8
c = "5"
d = "8"

print(a + b)

13

In [ ]:
# Q2. 4번
a = 5
b = 8
c = "5"
d = "8"

print(c + d)

58

In [ ]:
# Q3.
def my_function(x, y):
    return x + x + y


print(my_function(10, 20))

40

### (2) return vs. print

In [ ]:
def add_print(a, b):
    print(a + b)  # 출력
    return None  # 생략

In [ ]:
def add_return(a, b):
    return a + b  # 반환

In [ ]:
# 출력 함수 실행
x = add_print(2, 3)   # 출력: 5, 반환: x는 None, x = None

5

In [ ]:
print(x)  # x: None

None

In [ ]:
y = add_return(2, 3)  # 출력: 없음, 반환: y는 5, y = 5

In [ ]:
print(y)  # y: 5

5

(예시)

In [ ]:
def print_square(x):
    print(x * x)
    # return None 생략

In [ ]:
print_square(3)

9

In [ ]:
print(print_square(3))

9
None

In [ ]:
def get_square(x):
    return x * x

In [ ]:
get_square(3)

9

In [ ]:
print(get_square(3))

9

#### 실습) return과 print의 차이

[링크](https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/6722)

In [ ]:
def first():
    message = "코드잇"
    return message


def second():
    message = "codeit"
    print(message)

def third():
    message = None
    print(message)

# 테스트 코드
print(first())
second()
print(third())

코드잇
codeit
None
None

### (3) 파라미터

- 파라미터(Parameter) : 함수에 전달받을 값을 이름으로 미리 받아놓는 변수

(예시)
- 파라미터가 없는 경우

In [ ]:
# 사용자 정의 함수(파라미터 : 없음)
def hello():
    print("Hello!")
    print("Claire")
    print("Welcome to Codeit!")

In [ ]:
# 함수 실행
hello()

Hello!
Claire
Welcome to Codeit!

(예시)
- 파라미터가 1개인 경우

In [ ]:
# 사용자 정의 함수(파라미터 : name)
def hello(name):
    print("Hello!")
    print(name)
    print("Welcome to Codeit!")

In [ ]:
# 함수 실행
hello("Emily")

Hello!
Emily
Welcome to Codeit!

(예시)
- 파라미터가 2개인 경우

In [ ]:
def print_sum(a, b):
    print(a + b)

In [ ]:
print_sum(2, 5)

7

(예시)
- 파라미터가 여러 개인 경우

In [ ]:
def print_sum(num_1, num_2, num_3):
    print(num_1 + num_2 + num_3)

In [ ]:
print_sum(7, 3, 2)

12

#### 실습) 세 수의 곱

[링크](https://www.codeit.kr/topics/getting-started-with-python/lessons/2744)

In [ ]:
# 세 수의 곱을 출력하는 함수
def multiply_three_numbers(x, y, z):
    print(x * y * z)

# 테스트 코드
multiply_three_numbers(7, 3, 5)
multiply_three_numbers(21, 4, 9)
multiply_three_numbers(-7, 6, 3)

105
756
-126

### (4) 옵셔널 파라미터

- 파라미터(Parameter) : 함수에 전달받을 값을 이름으로 미리 받아놓는 변수
- 옵셔널 파라미터 : 파라미터에 기본값을 설정하는 것
- 옵셔널 파라미터는 반드시 마지막에 지정해 주어야 한다.

In [ ]:
name = "코드잇"
age = 1
nationality = "한국"

print("내 이름은 {}".format(name))
print("나이는 {}살".format(age))
print("국적은 {}".format(nationality))

내 이름은 코드잇
나이는 1살
국적은 한국

In [ ]:
def myself(name, age, nationality = "한국"):
    print("내 이름은 {}".format(name))
    print("나이는 {}살".format(age))
    print("국적은 {}".format(nationality))

In [ ]:
myself("코드잇", 1)
print()
myself("코드잇", 1, "미국")

내 이름은 코드잇
나이는 1살
국적은 한국

내 이름은 코드잇
나이는 1살
국적은 미국

In [ ]:
# 옵셔널 파라미터는 반드시 마지막에 지정해 주어야 한다.
def myself(name, nationality = "한국", age):
    print("내 이름은 {}".format(name))
    print("나이는 {}살".format(age))
    print("국적은 {}".format(nationality))

SyntaxError: parameter without a default follows parameter with a default (ipython-input-1328695947.py, line 2)

### (5) Syntactic Sugar

```Python
# 다음 두 줄은 같습니다.
x = x + 1
x += 1

# 다음 두 줄은 같습니다.
x = x * 2
x *= 2

# 다음 두 줄은 같습니다.
x = x - 3
x -= 3
```

#### 실습) 추상화

[링크](https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2768)

In [ ]:
# Q1. 2번
x = -6
y = 3

x += 2
y -= 1

print(x + y)

-2

In [ ]:
# Q2
def hello(name):
    print(f"안녕하세요. {name}입니다.")
    print("만나서 반갑습니다.")


print("함수 실행 전")
hello("영훈")
print("함수 실행 후")

함수 실행 전
안녕하세요. 영훈입니다.
만나서 반갑습니다.
함수 실행 후

In [ ]:
# Q3
def hello(name):
    print(f"안녕하세요. {name}입니다.")
    return "만나서 반갑습니다."


print(hello("영훈"))

안녕하세요. 영훈입니다.
만나서 반갑습니다.

### (6) 변수

**변수(Variable)**

- 데이터를 어떤 공간에 담아서 이름표를 붙여 값을 저장하는 것

**지정 연산자(Assignment Operator)**

- 등호를 기준으로 등호 오른쪽에 있는 값을 등호 왼쪽으로 넘겨주는 역할을 하는 것

In [ ]:
x = 7
x = x - 3
print(x)

4

In [ ]:
x = 7
x -= 3
print(x)

4

(예시)

**변수 사용의 장점**

1. 값의 변동이 있는 경우 일일이 코드를 바꿔줄 필요없이 변수로 지정한 부분만 수정하면 된다.
2. 다른 사람들이 코드를 보고 이해하기 쉽다.

In [ ]:
# 버거 가격 : 4,990원
# 감자 튀김 가격 : 1,490원
# 음료 가격 : 1,250원

In [ ]:
# 변수를 사용하지 않는 경우
print(4990)  # 버거 1개
print(4990 * 2)  # 버거 2개
print(4990 + 1490)  # 버거 1개 + 감자 튀김 1개
print(4990 * 3 + 1250 * 2 + 1250)  # 버거 3개 + 감자 튀김 2개 + 음료 1개

4990
9980
6480
18720

In [ ]:
# 변수 사용
burger_price = 4990
fries_price = 1490
drink_price = 1250

print(burger_price)  # 버거 1개
print(burger_price * 2)  # 버거 2개
print(burger_price + fries_price)  # 버거 1개 + 감자 튀김 1개
print(burger_price * 3 + drink_price * 2 + drink_price)  # 버거 3개 + 감자 튀김 2개 + 음료 1개

4990
9980
6480
18720

#### 실습) 칼로리 계산기

[링크](https://www.codeit.kr/topics/getting-started-with-python/lessons/2739)

In [ ]:
# 과자별 칼로리
kitkat = 190
oreos = 502
pringles = 292
twix = 135.9
cheetos = 485

# 다양한 과자 조합
print(kitkat + oreos * 2)
print(cheetos * 4)
print(pringles + oreos + twix)
print(pringles * 3 + oreos * 2)

1194
1940
929.9
1880

### 변수의 scope
- Scope(범위) : 변수가 사용 가능한 범위
- 글로벌 변수 : 함수 밖에서 적용한 변수로 모든 곳에서 사용 가능
- 로컬 변수 : 함수 내에서만 사용하는 변수로 변수를 정의한 함수 내에서만 사용 가능

(로컬 변수)

In [ ]:
# 함수 정의
def my_function():
    x = 3  # 로컬 변수
    print(x)

# 실행
my_function()

3

(글로벌 변수)

In [ ]:
x = 2  # 글로벌 변수

def my_function():
    print(x)

my_function()

2

In [ ]:
x = 2  # 글로벌 변수

def my_function():
    x = 3  # 로컬 변수
    print(x)

# 실행
my_function()
print(x)

3
2

#### 실습) scope

[링크](https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2770)

In [ ]:
del x

In [ ]:
# Q1. 4번
def my_function():
    x = "코드잇"  # 로컬 변수
    x = "을지로"  # 로컬 변수


my_function()
print(x)  # 글로벌 변수 출력

NameError: name 'x' is not defined

In [ ]:
# Q2. 3번
x = 100  # 글로벌 변수

def my_function():
    x = 0  # 로컬 변수
    print(x)


my_function()
print(x)

0
100

In [ ]:
# Q3. 3번
x = 10  # 글로벌 변수

def my_function():
    y = 5  # 로컬 변수
    print(x + y)


my_function()
print(x)

15
10

### (7) 함수

- 함수(Function) : 명령을 저장하는 것
- 내장 함수(Built-in Function) : 기본적으로 제공하는 함수들로 별도 import 없이 바로 사용 가능한 함수
  - 예) `print()`, `len()`, `type()`, `int()`, `sum()`
- 사용자 정의 함수(User-defined Function) : 사용자가 `def` 키워드로 만든 함수

In [ ]:
# 내장 함수
burger_price = 4990
print(burger_price)

4990

In [ ]:
# 사용자 정의 함수
def hello():
    print("Hello!")
    print("Welcome to Codeit!")

hello()

Hello!
Welcome to Codeit!

### (8) 상수

- 상수(Constant)는 대문자로 표기

In [ ]:
PI = 3.14

def calculate_area(r):
    return PI * r * r

radius = 4
print("반지름이 {}면, 넓이는 {}".format(radius, calculate_area(radius)))

반지름이 4면, 넓이는 50.24

### (9) 스타일

- 좋은 스타일을 가진 코드 = 이해하기 쉬운 코드

In [ ]:
# 반지름이 4인 원의 둘레
print(2 * 3.14 * 4)

# 반지름이 4인 원의 면적
print(3.14 * 4 * 4)

# 반지름이 8인 원의 둘레
print(2 * 3.14 * 8)

# 반지름이 8인 원의 면적
print(3.14 * 8 * 8)

25.12
50.24
50.24
200.96

In [ ]:
PI = 3.14  # 원주율(파이)

# 원의 둘레
def calculate_circumference(r):
    return 2 * PI * r

# 원의 면적
def calculate_area(r):
    return PI * r * r

radius = 4  # 반지름 4
print(calculate_circumference(radius))
print(calculate_area(radius))

radius = 8  # 반지름 8
print(calculate_circumference(radius))
print(calculate_area(radius))

25.12
50.24
50.24
200.96

#### 파이썬 스타일 가이드 (PEP 8)

- PEP : Python Enhancement Proposal
[링크](https://peps.python.org/pep-0008/)

- 모든 변수와 함수 이름은 소문자로 쓰고, 여러 단어일 경우 _로 나눠주세요.

```Python
some_variable_name = 1

def some_function_name():
    print("Hello")
```

- 모든 상수 이름은 대문자로 쓰고, 여러 단어일 경우 _로 나눠주세요.

```Python
SOME_CONSTANT = 3.14

# 의미 있는 이름 (변수)
radius = 2
PI = 3.14
print(PI * radius * radius)

# 의미 있는 이름 (함수)
def say_hello():
    print("Hello, world!")
```

- 들여쓰기는 무조건 스페이스 4개를 사용하세요.

```Python
def say_hello():
    print("Hello, world!")
```

- 함수 정의 위아래로 빈 줄이 두 개씩 있어야 합니다.
- 하지만, 파일의 첫 줄이 함수 정의인 경우 해당 함수 위에는 빈 줄이 없어도 됩니다.

```Python
def a():
    print('a')


def b():
    print('b')


def c():
    print('c')
```

- 괄호 바로 안에는 띄어쓰기를 하지 마세요.

```Python
spam(ham[1])
```

- 함수를 정의하거나 호출할 때, 함수 이름과 괄호 사이에 띄어쓰기를 하지 마세요.

```Python
def spam(x):
    print(x + 2)


spam(1)
```

- 쉼표 앞에는 띄어쓰기를 하지 마세요.

```Python
print(x, y)
```

- 지정 연산자 앞뒤로 띄어쓰기를 하나씩 넣어 주세요.

```Python
x = 1
```

- 기본적으로는 연산자 앞뒤로 띄어쓰기를 하나씩 합니다.
- 하지만 연산의 '우선 순위'를 강조하기 위해서는, 연산자 앞뒤로 띄어쓰기를 붙이는 것을 권장합니다.

```Python
i = i + 1
submitted += 1

x = x*2 - 1
hypot2 = x*x + y*y
c = (a+b) * (a-b)
```

- 일반 코드와 같은 줄에 코멘트를 쓸 경우, 코멘트 앞에 띄어쓰기 최소 두 개를 입력해 주세요.

```Python
x = x + 1  # 코멘트
```

#### 실습) 짝수? 홀수?

[링크](https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2773)

In [ ]:
def is_evenly_divisible(number):
    return number % 2 == 0


# 테스트 코드
print(is_evenly_divisible(3))
print(is_evenly_divisible(7))
print(is_evenly_divisible(8))
print(is_evenly_divisible(218))
print(is_evenly_divisible(317))

False
False
True
True
False

## [4] 제어문

### (1) while문(반복문)

**while 반복문**
- 무언가를 반복하기 위해 사용

**while 반복문 구조**

```Python
while 조건 부분:  # 불린 값으로 계산되는 식
    수행 부분     # 반복적으로 실행하고 싶은 명령
```

In [ ]:
i = 1
while i <= 3:
    print(i)
    i += 1

1
2
3

In [ ]:
i = 1
while i <= 3:
    i += 1
    print(i)

2
3
4

#### 실습) while 반복문 I

[링크](https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2777)

In [ ]:
i = 2
while i <= 100:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

#### 실습) while 반복문 II

[링크](https://www.codeit.kr/topics/core-concept-of-python-programming/lessons/2778)

In [ ]:
i = 100
while i % 23 != 0:
    i += 1

print(i)  # i가 23의 배수가 되었을 때 반복이 끝나고 그 값을 출력

115

### (2) for문(반복문)

In [ ]:
my_list = [2, 3, 5, 7, 11]

for num in my_list:
    print(num)

2
3
5
7
11

### (3) if문(조건문)

**if문**
```Python
if 조건 부분:
   수행 부분
else:
   수행 부분
```

**elif문 구조**
```Python
if   조건 부분:
     수행 부분
elif 조건 부분:
     수행 부분
...
else:
     수행 부분
```

In [ ]:
# if문
temperature = 16

if temperature <= 10:
    print("자켓을 입는다")
else:
    print("자켓을 입지 않는다")

자켓을 입지 않는다

In [ ]:
# elif문
score = 88

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

B

### (4) break문(반복 제어문)
- 만약 while문의 조건 부분과 상관없이 반복문에서 나오고 싶을 때

`if`와 `break`를 함께 사용하면 **조건이 참일 때 반복문을 즉시 종료**할 수 있습니다.

- `if`: 조건문, 조건이 참(`True`)인지 검사
- `break`: 현재 실행 중인 반복문을 바로 빠져나온다.

In [ ]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
i = 100

while True:
    if i % 23 == 0:
        break
    i = i + 1

print(i)

115

### (5) continue문(반복 제어문)

**continue**
- 현재 반복을 건너뛰고 다음 반복으로 넘어가라는 의미

**break vs. continue 예**
- break는 게임을 아예 종료하기
- continue는 이번 라운드만 스킵하고 다음 라운드 진행하기

In [ ]:
i = 0

while i < 15:
    i = i + 1
    if i % 2 == 1:
        continue
    print(i)

2
4
6
8
10
12
14

# [5] 리스트
- 리스트(list) : 여러 개의 값을 저장할 때 사용하고, 하나의 값들을 리스트의 요소라고 부른다.
- 인덱스(index) : 요소의 위치
- 인덱싱(indexing) : 요소를 가져오는 것
- 슬라이싱(slicing) : 리스트를 자르는 것

In [ ]:
numbers = [2, 3, 4, 7, 11, 13]
names = ["윤수", "혜린", "태호", "영훈"]

print(numbers)
print(names)

[2, 3, 4, 7, 11, 13]
['윤수', '혜린', '태호', '영훈']

### 인덱싱

In [ ]:
print(names[0])
print(names[2])

윤수
태호

In [ ]:
print(numbers[1] + numbers[3])  # 3 + 7

10

In [ ]:
num_1 = numbers[1]
num_3 = numbers[3]

print(num_1 + num_3)

10

In [ ]:
len(numbers)

6

In [ ]:
print(numbers)

[2, 3, 4, 7, 11, 13]

In [ ]:
print(numbers[-1])
print(numbers[-2])
print(numbers[-6])

13
11
2

### 슬라이싱

In [ ]:
print(numbers)

[2, 3, 4, 7, 11, 13]

In [ ]:
print(numbers[0:4])  # 인덱스 0부터 인덱스 3까지 출력
print(numbers[2:])  # 인덱스 2부터 시작해서 끝까지 출력
print(numbers[:3])  # 처음부터 시작해서 인덱스 2까지 출력

[2, 3, 4, 7]
[4, 7, 11, 13]
[2, 3, 4]

In [ ]:
new_list = numbers[:3]
print(new_list)
print(new_list[2])

[2, 3, 4]
4

In [ ]:
print(numbers)

[2, 3, 4, 7, 11, 13]

In [ ]:
numbers[0] = 7
print(numbers)

[7, 3, 4, 7, 11, 13]

In [ ]:
numbers[0] = numbers[0] + numbers[1]
print(numbers)

[10, 3, 4, 7, 11, 13]

### 리스트 함수

In [ ]:
numbers = []
print(len(numbers))

0

In [ ]:
numbers = []
numbers.append(5)
numbers.append(8)
print(numbers)
print(len(numbers))

[5, 8]
2

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
print(numbers)
del numbers[3]
print(numbers)

[2, 3, 5, 7, 11, 13, 17, 19]
[2, 3, 5, 11, 13, 17, 19]

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers.insert(4, 37)  # 4번째 인덱스에 37 삽입
print(numbers)

[2, 3, 5, 7, 37, 11, 13, 17, 19]

## 리스트와 주요 메소드

In [ ]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]
print(7 in primes)
print(12 in primes)

True
False

In [ ]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]
print(7 not in primes)
print(12 not in primes)

False
True

리스트 안의 리스트 (Nested List)

In [ ]:
grades = [[62, 75, 77], [78, 81, 86], [85, 91, 89]]

print(grades[0])
print(grades[2])
print(grades[0][0])
print(grades[2][1])
print((grades[0][0] + grades[1][0] + grades[2][0]) / 3)

[62, 75, 77]
[85, 91, 89]
62
91
75.0

`sort` 메소드
- `sorted` 함수는 새로운 리스트를 리턴시키는 반면,
- `sort`는 새로운 리스트를 생성하지 않고 정렬된 상태로 바꿔준다.

In [ ]:
numbers = [19, 13, 2, 5, 3, 11, 7, 17]

In [ ]:
# sorted
new_list = sorted(numbers)
print(new_list)
print(numbers)

[2, 3, 5, 7, 11, 13, 17, 19]
[19, 13, 2, 5, 3, 11, 7, 17]

In [ ]:
# sort
print(numbers.sort())
print(numbers)

None
[2, 3, 5, 7, 11, 13, 17, 19]

`reverse` 메소드
- 새로운 리스트를 생성하지 않고 원소들을 뒤집어진 순서로 배치한다.

In [ ]:
numbers = [5, 3, 7, 1]
print(numbers.reverse())
print(numbers)

None
[1, 7, 3, 5]

`index` 메소드
- 인덱스의 값을 리턴한다.

In [ ]:
members = ["영훈", "윤수", "태호", "혜린"]

print(members.index("윤수"))
print(members.index("태호"))

1
2

`remove` 메소드
- 첫 번째로 x의 값을 가지고 있는 원소를 삭제한다.

In [ ]:
fruits = ["딸기", "당근", "파인애플", "수박", "참외", "메론"]
fruits.remove("파인애플")
print(fruits)

['딸기', '당근', '수박', '참외', '메론']

In [ ]:
fruits = ["딸기", "당근", "파인애플", "수박", "참외", "메론", "파인애플"]
fruits.remove("파인애플")
print(fruits)

['딸기', '당근', '수박', '참외', '메론', '파인애플']

# [6] range 함수

- 파라미터 1개 버전 : range(stop) -> 0부터 stop-1까지
- 파라미터 2개 버전 : range(start, stop) -> start부터 stop-1까지
- 파라미터 3개 버전 : range(start, stop, step) -> start부터 stop-1까지 간격 step만큼
- range 함수의 장점 : (1) 간편함 (2) 깔끔함 (3) 메모리 효율성

In [ ]:
list(range(4))  # 0 이상 4 미만

[0, 1, 2, 3]

In [ ]:
list(range(1, 11))  # 1 이상 11 미만

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(2, 10, 3))  # 2 이상 10 미만 3 간격만큼

[2, 5, 8]

### 실습) for문으로 구구단

[링크](https://www.codeit.kr/topics/python-programming-and-data/lessons/2801)

In [ ]:
for i in range(1, 10):
    for j in range(1, 10):
        print("{} * {} = {}".format(i, j, i*j))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

# [7] 딕셔너리

**사전 (dictionary)**
- key-value pair (키-값 쌍)

In [ ]:
my_family = {
    '아빠' : 64,
    '엄마' : 62,
    '딸' : 34,
    '아들' : 31
}

In [ ]:
my_family

{'아빠': 64, '엄마': 62, '딸': 34, '아들': 31}

In [ ]:
type(my_family)

dict

In [ ]:
my_family['아빠']

64

In [ ]:
my_family['강아지'] = 3

In [ ]:
my_family

{'아빠': 64, '엄마': 62, '딸': 34, '아들': 31, '강아지': 3}

In [ ]:
코드 셀 <EpFmc66sTuOI>
# %% [code]
# 건강검진 수검자의 연령대 비율
age_prop = health_data['연령대코드(5세단위)'].value_counts(normalize=True)
age_prop
2025년 10월 1일 오후 1:16의 실행 결과
2KB
	text/plain
		연령대코드(5세단위)
		50~54세    0.125062
		60~64세    0.115451
		40~44세    0.111911
		55~59세    0.096172
		45~49세    0.094501
		30~34세    0.088801
		25~29세    0.076295
		35~39세    0.071512
		65~69세    0.067869
		70~74세    0.059356
		20~24세    0.040643
		75~79세    0.025477
		80~84세    0.021134
		85세 이상    0.005815
		Name: proportion, dtype: float64

코드 셀 <YxZIi9hkH5a_>
# %% [code]
# 나이가 많을수록 건강검진 수검자의 비율이 높을 것이다_유의미한 가설
plt.pie(age_prop, labels=age_prop.index, autopct='%1.1f%%')
plt.show()
2025년 10월 1일 오후 1:16의 실행 결과
58KB
	text/plain
		<Figure size 640x480 with 1 Axes>

코드 셀 <8adksyMgk6Tf>
# %% [code]
# 신장 분포 _ 유의미한 결과를 얻기 어려워보임
height_prop = health_data['신장(5cm단위)'].value_counts(normalize=True)
height_prop
2025년 10월 1일 오후 1:16의 실행 결과
2KB
	text/plain
		신장(5cm단위)
		160    0.199170
		155    0.181595
		165    0.174501
		170    0.149192
		150    0.109795
		175    0.092763
		145    0.038333
		180    0.035406
		140    0.009088
		185    0.007477
		135    0.001478
		190    0.000856
		130    0.000278
		195    0.000068
		Name: proportion, dtype: float64

텍스트 셀 <KWo4Ls8Lcz0L>
# %% [markdown]
(2) 연령대가 낮을수록 음주하는 사람이 많을 것이다.

코드 셀 <T-5r-S1iPxtb>
# %% [code]
# 연령대별 음주여부 _ 연령이 낮을수록(범주) 음주하는 사람이 많을(범주) 것이다_유의미한 가설
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(12,6))
plt.rcParams['font.family'] = 'NanumGothic'
age_order= ["20~24세","25~29세","30~34세","35~39세","40~44세","45~49세","50~54세",
            "55~59세","60~64세","65~69세","70~74세","75~79세","80~84세","85세 이상"
]
sns.barplot(data=health_data, x='연령대코드(5세단위)', y='음주여부', order = age_order)

plt.title('Drinking status by Age group')
plt.xlabel('연령대코드(5세단위)')
plt.ylabel('음주여부')
plt.show()
2025년 10월 1일 오후 3:07의 실행 결과
43KB
	text/plain
		<Figure size 1200x600 with 1 Axes>

텍스트 셀 <pZxaOLiJc6QT>
# %% [markdown]
(3) 연령이 낮을수록 LDL콜레스테롤 수치가 낮을 것이다.

코드 셀 <ycDu54QUaQcV>
# %% [code]
# 연령별 LDL콜레스테롤 수치 _ 유의미하지 않은 결과
plt.figure(figsize=(12,6))
plt.rcParams['font.family'] = 'NanumGothic'
age_order= ["20~24세","25~29세","30~34세","35~39세","40~44세","45~49세","50~54세",
            "55~59세","60~64세","65~69세","70~74세","75~79세","80~84세","85세 이상"
]
sns.barplot(data=health_data, x='연령대코드(5세단위)', y='LDL콜레스테롤', order = age_order)

plt.title('Drinking status by Age group')
plt.xlabel('연령대코드(5세단위)')
plt.ylabel('LDL콜레스테롤')
plt.show()
2025년 10월 1일 오후 3:15의 실행 결과
40KB
	text/plain
		<Figure size 1200x600 with 1 Axes>

텍스트 셀 <nTa_6PgpdB5M>
# %% [markdown]
(5) 음주여부가 총콜레스테롤에 안 좋은 영향을 미칠 것이다

코드 셀 <TXuBb3l2hgfI>
# %% [code]
# 음주여부(범주형)와 콜레스테롤(연속형)의 상관관계_그렇게 유의미하지 않다.

sns.kdeplot(data=health_data, x='총콜레스테롤', hue='음주여부')
plt.title("음주 여부에 따른 총콜레스테롤 분포")
plt.xlabel("총콜레스테롤")
plt.ylabel("음주여부")
plt.xlim(100,300)
plt.show()
2025년 10월 1일 오후 3:12의 실행 결과
56KB
	text/plain
		<Figure size 1000x600 with 1 Axes>

텍스트 셀 <RBBve_DFdLUl>
# %% [markdown]
(6) 음주하는 사람은 LDL콜레스테롤 수치가 낮을 것이다.

코드 셀 <I-9-DFyzZxJA>
# %% [code]
# 음주여부(범주형)와 LDL콜레스테롤(연속형)의 상관관계_그렇게 유의미하지 않다.

sns.kdeplot(data=health_data, x='LDL콜레스테롤', hue='음주여부')
plt.title("음주 여부에 따른 LDL콜레스테롤 분포")
plt.xlabel("LDL콜레스테롤")
plt.ylabel("음주여부")
plt.xlim(100,300)
plt.show()
2025년 10월 1일 오후 3:14의 실행 결과
56KB
	text/plain
		<Figure size 1000x600 with 1 Axes>

텍스트 셀 <GBiLILibdWQM>
# %% [markdown]
(7) 음주하는 사람은 트리글리세라이드 수치가 낮을 것이다.

코드 셀 <uNGNztS4a96M>
# %% [code]
# 음주여부(범주형)와 트리글리세라이드(연속형)의 상관관계_그렇게 유의미하지 않다.

sns.kdeplot(data=health_data, x='트리글리세라이드', hue='음주여부')
plt.title("음주 여부에 따른 트리글리세라이드 분포")
plt.xlabel("트리글리세라이드")
plt.ylabel("음주여부")
plt.xlim(100,300)
plt.show()
2025년 10월 1일 오후 3:19의 실행 결과
55KB
	text/plain
		<Figure size 1000x600 with 1 Axes>

텍스트 셀 <VyGYu6jpddoU>
# %% [markdown]
(8) 흡연상태가 치아우식증 유무에 영향을 미칠 것이다
 - 흡연자가 비흡연자보다 치아우식증이 있을 확률이 높을 것이다.

코드 셀 <pyOw-243kjEC>
# %% [code]
# 흡연 상태별 치아우식증 유무_유의미한 가설
sns.barplot(data=health_data, x='흡연상태', y='치아우식증유무')
plt.title("흡연상태에 따른 치아우식증 유무")
plt.xlabel("흡연상태")
plt.ylabel("치아우식증유무")
plt.show()
2025년 10월 1일 오후 2:44의 실행 결과
32KB
	text/plain
		<Figure size 1000x600 with 1 Axes>

텍스트 셀 <NFANSbCJeaMV>
# %% [markdown]
(8) 흡연상태가 치석 여부에 영향을 미칠 것이다

- 흡연자가 비흡연자보다 치석이 있을 확률이 높을 것이다.

코드 셀 <nlL3WhFqT_Qg>
# %% [code]
# 흡연 상태별 치석여부_유의미한 가설
sns.barplot(data=health_data, x='흡연상태', y='치석')
plt.title("흡연상태에 따른 치석여부")
plt.xlabel("흡연상태")
plt.ylabel("치석")
plt.show()
2025년 10월 1일 오후 3:32의 실행 결과
28KB
	text/plain
		<Figure size 1000x600 with 1 Axes>

텍스트 셀 <atIUh2MVgt6b>
# %% [markdown]
(9) 음주를 하는 사람일수록 혈청지피티의 농도(간세포 손상정도)가 높을 것이다

코드 셀 <6XDlWEntgySU>
# %% [code]
# 음주를 하는 사람일수록 혈청지피티의 농도가 높을 것이다_ 유의미한 결과가 아님
sns.kdeplot(data=health_data, x='혈청지피티(ALT)', hue='음주여부')
plt.title("음주 여부에 따른 혈청지피티 농도")
2025년 10월 1일 오후 3:48의 실행 결과
71KB
	text/plain
		Text(0.5, 1.0, '음주 여부에 따른 혈청지피티 농도')
		<Figure size 1000x600 with 1 Axes>

텍스트 셀 <Lt9uelNSmxJL>
# %% [markdown]
(10) 음주를 하는 사람은 그렇지 않은 사람보다 혈색소 수치가 높을 것이다.

코드 셀 <WJCLzv7MiJ7M>
# %% [code]
# 연령별 음주여부별 개인의 혈색소 수치_연령이 높아질수록 음주여부가 혈색소 수치에 미미한 영향을 미친다.
plt.figure(figsize=(12,6))
plt.rcParams['font.family'] = 'NanumGothic'
age_order= ["20~24세","25~29세","30~34세","35~39세","40~44세","45~49세","50~54세",
            "55~59세","60~64세","65~69세","70~74세","75~79세","80~84세","85세 이상"
]
sns.barplot(data=health_data, x='연령대코드(5세단위)', y='혈색소', errorbar=None, hue="음주여부", order=age_order)
plt.show()
2025년 10월 1일 오후 4:33의 실행 결과
33KB
	text/plain
		<Figure size 1200x600 with 1 Axes>

텍스트 셀 <D2yzUPxiusip>
# %% [markdown]
(11) 음주를 하는 사람은 그렇지 않은 사람보다 감마지티피 수치가 높을 것이다.

코드 셀 <6sXZQFuxqjGT>
# %% [code]
# 연령별 음주여부별 개인의 감마지티피 수치_연령이 높아질수록 음주여부가 간기능 효소의 혈중농도에 악영향을 미친다.
plt.figure(figsize=(12,6))
plt.rcParams['font.family'] = 'NanumGothic'
age_order= ["20~24세","25~29세","30~34세","35~39세","40~44세","45~49세","50~54세",
            "55~59세","60~64세","65~69세","70~74세","75~79세","80~84세","85세 이상"
]
sns.barplot(data=health_data, x='연령대코드(5세단위)', y='감마지티피', errorbar=None, hue="음주여부", order=age_order)
plt.show()
2025년 10월 1일 오후 4:41의 실행 결과
33KB
	text/plain
		<Figure size 1200x600 with 1 Axes>

텍스트 셀 <yIrFljyHwNEV>
# %% [markdown]
- GAMMA_GTP : ­ 정상치 남성 : 11 - 63IU/L, 여성 : 8-35IU/L

코드 셀 <zGSnyhuSvO4p>
# %% [code]
# 남녀 성별 비율 확인
sex_prop = health_data['성별'].value_counts(normalize=True)
sex_prop
2025년 10월 1일 오후 4:49의 실행 결과
1KB
	text/plain
		성별
		여자    0.544901
		남자    0.455099
		Name: proportion, dtype: float64

텍스트 셀 <igGd5qyc1Omq>
# %% [markdown]
- 매뉴얼에 따르면 감마지티피의 정상치가 여성보다 남성이 높은 것을 알 수 있다.
- 혹시 여성보다 남성이 음주하는 사람이 많아서 감마지티피 수치가 높은건지 확인을 해볼 것이다.

코드 셀 <ogiRy-qQy1Sy>
# %% [code]
# 성별에 따른 음주여부_건강검진 수검자는 여성이 더 많은데 음주하는 사람은 남성이 더 많기 때문에 남성 음주자의 비율이 높음을 알 수 있다.
sns.barplot(data=health_data, x='성별', y='음주여부')
plt.title("성별에 따른 음주여부")
plt.xlabel("성별")
plt.ylabel("음주여부")
plt.show()
2025년 10월 1일 오후 5:03의 실행 결과
19KB
	text/plain
		<Figure size 1000x500 with 1 Axes>

텍스트 셀 <-_Cxay0_Fh2Q>
# %% [markdown]
- 음주자와 비음주자의 정확한 성비를 확인해보려고 한다.

코드 셀 <LgoIFTmx01sW>
# %% [code]
# 음주하는 사람들의 데이터만 필터링
drinking_population = health_data[health_data['음주여부'] == 1.0]

# 음주하는 사람들의 성별 비율 계산
drinking_sex_prop = drinking_population['성별'].value_counts(normalize=True)

# 결과 출력
print("음주하는 사람들의 남녀 성별 비율:")
display(drinking_sex_prop)
2025년 10월 1일 오후 5:15의 실행 결과
1KB
	Stream
		음주하는 사람들의 남녀 성별 비율:
	text/plain
		성별
		남자    0.538267
		여자    0.461733
		Name: proportion, dtype: float64

코드 셀 <TB7D-Eaa0312>
# %% [code]
# 음주하지 않는 사람들의 데이터만 필터링
nodrinking_population = health_data[health_data['음주여부'] == 0.0]

# 음주하는 사람들의 성별 비율 계산
nodrinking_sex_prop = nodrinking_population['성별'].value_counts(normalize=True)

# 결과 출력
print("음주하지 않는 사람들의 남녀 성별 비율:")
display(nodrinking_sex_prop)
2025년 10월 1일 오후 5:16의 실행 결과
1KB
	Stream
		음주하지 않는 사람들의 남녀 성별 비율:
	text/plain
		성별
		여자    0.688533
		남자    0.311467
		Name: proportion, dtype: float64

코드 셀 <mYXAAcZX2QaM>
# %% [code]
# 성별 음주여부별 개인의 감마지티피 수치_ 남자의 경우 음주여부가 감마지피티 수치에 영향을 미치지만 여자는 아님
plt.figure(figsize=(6,10))
plt.rcParams['font.family'] = 'NanumGothic'
sns.barplot(data=health_data, x='성별', y='감마지티피', errorbar=None, hue="음주여부")
plt.show()
2025년 10월 1일 오후 5:18의 실행 결과
18KB
	text/plain
		<Figure size 600x1000 with 1 Axes>

코드 셀 <Bclpv-z438A7>
# %% [code]
# 성별, 연령별 음주비율
plt.figure(figsize=(12,6))
plt.rcParams['font.family'] = 'NanumGothic'
age_order= ["20~24세","25~29세","30~34세","35~39세","40~44세","45~49세","50~54세",
            "55~59세","60~64세","65~69세","70~74세","75~79세","80~84세","85세 이상"
]
sns.barplot(data=health_data, x='연령대코드(5세단위)', y='음주여부', errorbar=None, hue="성별", order=age_order)
plt.xticks(rotation=45)
plt.show()
2025년 10월 1일 오후 5:29의 실행 결과
55KB
	text/plain
		<Figure size 1200x600 with 1 Axes>

텍스트 셀 <mM7wY5jq5Qjy>
# %% [markdown]
** 여성의 경우 연령이 높아질수록 금주하는 사람의 수가 급격히 감소하기 때문에 전연령대에서 음부여부에 따른 감마지피티 수치에 큰 차이는 없다.

그러나 남성의 경우 전연령대에서 음주를 하는 사람의 수가 여성보다 높고 음주를 하는 사람의 감마지피티 수치가 그렇지 않은 사람보다 확실히 높은 것을 알 수 있다.

텍스트 셀 <uHZLRPZyeHjF>
# %% [markdown]
- 검정방법

<1.변수 2.변수유형 3.독립종속>



코드 셀 <tGeu85W1fBJO>
# %% [code]
-궁금한 가설 리스트업 후 우선순위 정하기

텍스트 셀 <UkI1Q2WaSCRE>
# %% [markdown]
[음주와 흡연이 국민 건강에 미치는 영향]
 - 젊을수록 음주를 많이 한다 o
 - 젊은이들의 콜레스테롤 수치 ( 연령대별 LDL콜레스테롤 수치를 한번 파악해봐야할듯)
 - 그래서 젊은이들의 음주여부가 더 많은데 이것을 콜레스테롤 수치와 연결시킬 수 있는가
 - 혈압이나 혈당과 음주 또는 흡연과의 상관관계

 흡연
 치아 우식증
 치석 상관관계


텍스트 셀 <HpdL_ci081qn>
# %% [markdown]
[검증 결과 활용]
음주와 흡연은 국민 건강에 악영향을 미치기 때문에 주류와 담배에 세금을 더 많이 부과하여 소비량을 조절할 필요가 있다.굵은 텍스트

코드 셀 <s1mSKgeo9IMr>
# %% [code]
[대안1] 증세의 일부를 남성의 음주량 감소에 대한 지원_알코올 중독 프로그램 예산 반영 @기재부
[대안2] 증세의 일부를 담배의 포장에 치아에 대한 질병 경고 문구 확대 @질병관리청
[대안3] 음주 및 흡연에 따른 질병에 대한 홍보 프로그램 적극 지원 @질병관리청 @홍보부? 아무튼 찾아보기

노트북 속성
목차 표시